.example-card {
  max-width: 500px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: rgb(51, 84, 145);
}

.flex-container-dos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70.1%;
  background-color: rgb(39, 88, 179);
}
