.example-card {
  max-width: 500px;
  background-color: gainsboro;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-container-dos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70.1%;
  background: url("./../../../../assets/tema.jpg");
}
