<div class="flex-container">
  <app-actores (seleccionarFila)="actorPeliculas($event)"></app-actores>
</div>
<div class="flex-container-dos">
  <mat-card class="example-card" *ngFor="let item of peliculasActor">
    <mat-card-title>{{ item.titulo }}</mat-card-title>
    <img mat-card-image [src]="item.foto" style="height: 240px; width: 150px" />
    <mat-card-content>
      <p>
        {{ item.descripcion }}
      </p>
      <mat-label
        >Actor: {{ item.actor.nombre }} {{ item.actor.apellido }}
      </mat-label>
    </mat-card-content>
  </mat-card>
  <div>
    <div class="flex-container">
      <app-bandera-detalle
        [datoBandera]="bandera ? bandera : ''"
      ></app-bandera-detalle>
      <app-actores-detalle [actor]="nombreCompleto"></app-actores-detalle>
    </div>
  </div>
  <button mat-raised-button color="accent" (click)="irAltaPelicula()">
    Subir Pelicula
  </button>
</div>
