<div class="flex-container">
  <mat-form-field hintLabel="Max 10 characters">
    <mat-label>Escriba el Nombre</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat" />
    <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
  </mat-form-field>
  <mat-form-field hintLabel="Max 10 characters">
    <mat-label>Escriba Apellido</mat-label>
    <input matInput #input maxlength="10" placeholder="Ex. Nougat" />
    <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="accent">Primary</button>
</div>
