<mat-toolbar>
  <span><a [routerLink]="irSegunLog()">Laboratorio IV</a> </span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="redirigirBio()"
  >
    <mat-icon>share</mat-icon>
  </button>
  <div *ngIf="userEmail; else noLogueado">
    <p style="margin: 1px">{{ userEmail }}</p>
    <button
      style="height: 25px; padding: 10px; margin-left: 30%"
      mat-stroked-button
      color="warn"
      (click)="logOut()"
    >
      Log Out
    </button>
  </div>
  <ng-template #noLogueado>No está logueado</ng-template>
</mat-toolbar>
