.example-spacer {
    flex: 1 1 auto;
  }
  
  /* Remove the focus outline on links when clicked */
  a {
    text-decoration: none;
  }
  
  /* Prevent visited links from changing color */
  a:visited {
    color: inherit; /* Use the same color as the parent element's text color */
  }
  